/******************************************************************************
 * Content
 ******************************************************************************/
 /******************************************************************************
 * Handle the logo in both dark and light themes
 ******************************************************************************/
 .repo-img-light {
  display: block;
}

.repo-img-dark {
  display: none;
}

html[data-theme='dark'] .repo-img-light {
  display: none;
}

html[data-theme='dark'] .repo-img-dark {
  display: block;
}

/******************************************************************************
 * Body
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
